@charset "UTF-8";
/* ------------------------------------------------

Page	: Proland CSS
Version : 1.0
Author  : Surjith S M
URI     : http://themeforest.net/user/surjithctly

Copyright © All rights Reserved
Surjith S M / @surjithctly

-------------------------------------------------- */
/*=====================================================================


@Default Styles

Table of Content:
01/ Prefix
02/ Header
03/ The Product
04/ How it Works
05/ The Benefits
06/ Left Right Content
07/ Our Collection
08/ The Watch
09/ Splt Columns
10/ Reviews
11/ FAQs
12/ Tech Specs
13/ Our Team
14/ Timeline
15/ Mobile App
16/ Newsletter
17/ Contact
18/ Footer
19/ Page Header
20/ Blog
21/ Sidebar
22/ Comments
23/ Products
24/ Exit Popup

=====================================================================*/
/*========= @import Global & Variables ==========*/
/*Color Variables*/
/*============= Global =============*/
body {
  position: relative;
}

section {
  background: #fff;
}

section.row,
header.row,
footer.row {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a,
.btn,
button {
  text-decoration: none;
  outline: none;
  transition: all 300ms linear 0s;
}

a:hover, a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

h1, h2,
.h2 {
  font-size: 35px;
}

p {
  font: 300 14px/26px "Poppins", sans-serif;
  color: #82898f;
}

li {
  font: 300 14px/26px "Poppins", sans-serif;
  color: #82898f;
}


/*============= Buttons =============*/
.btn {
  border-radius: 30px;
  font: 300 12px/26px "Poppins", sans-serif;
  padding: 2px 33px 0;
  color: #b4bcc3;
  border-color: #e1e4e7;
}

.btn:hover, .btn:focus {
  background: #374048;
  border-color: #374048;
  color: #fff;
}

.btn-primary {
  border: none;
  background: #0e5d88;
  color: #FFF;
  padding: 0 28px;
}

.btn-primary.btn-lg {
  padding: 0 85px;
  border-radius: 60px;
  font: 500 27px/72px "Poppins", sans-serif;
  margin-bottom: 77px;
}

@media (max-width: 991px) {
  .btn-primary.btn-lg {
    padding: 0 70px;
    font-size: 18px;
    line-height: 60px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .btn-primary.btn-lg {
    padding: 0 40px;
  }
}

.btn-warning {
  text-transform: uppercase;
  font: 500 16px/40px "Poppins", sans-serif;
  padding: 0 35px;
  border-radius: 30px;
  color: #fff;
  border: none;
}

.btn-warning:hover, .btn-warning:focus {
  background: #374048;
  color: #fff;
}

.btn-warning.btn-lg {
  padding: 0 85px;
  border-radius: 60px;
  font: 500 27px/72px "Poppins", sans-serif;
  margin-bottom: 77px;
}

@media (max-width: 991px) {
  .btn-warning.btn-lg {
    padding: 0 70px;
    font-size: 18px;
    line-height: 60px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .btn-warning.btn-lg {
    padding: 0 65px;
  }
}

@media (max-width: 991px) {
  .btn-warning {
    margin-bottom: 35px;
  }
}

.btn-link {
  font: 300 15px/14px "Poppins", sans-serif;
  border-bottom: 1px solid;
  text-decoration: none;
  color: #007eff;
  border-color: #a3c5ff;
}

.btn-block {
  font: 600 19px/63px "Poppins", sans-serif;
  text-transform: uppercase;
  border: none;
  transition: all 300ms linear 0s;
  border-radius: 0;
  background: #0e5d88;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-block.btn-rounded {
  border-radius: 4px;
  font: 600 26px/80px "Poppins", sans-serif;
}

@media (max-width: 767px) {
  .btn-block.btn-rounded {
    font: 600 18px/60px "Poppins", sans-serif;
  }
}

/*============= Form Control - Form input Styles =============*/
.form-control {
  border-radius: 0;
  box-shadow: none;
  font: 300 17px/24px "Poppins", sans-serif;
  padding: 12px 18px;
  height: 50px;
  border-color: #e0e8ee;
  background: #f8fbfd;
}

.form-control::placeholder, .form-control.placeholder {
  opacity: 1;
  font: 300 17px/24px "Poppins", sans-serif;
  color: #c0cad0;
}

.form-control:focus {
  background: transparent;
  box-shadow: none;
}

.form-control.alt {
  background: #FFF;
  border-color: #CCCCCC;
}

textarea.form-control {
  resize: none;
}

.form-group {
  margin-bottom: 20px;
}

.has-error .form-control,
.has-error .form-control:focus {
  box-shadow: none;
  border-color: #F96152;
  background: #fff;
}

/*============= Utilities =============*/
.mb-lg {
  margin-bottom: 50px !important;
}

/*=============Custom Animation=============*/
@-webkit-keyframes doublePulse {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
@keyframes doublePulse {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

/*============= Magnific Popup =============*/
.mfp-fade.mfp-bg {
  opacity: 0;
  background: #FFF;
  transition: all .3s;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: .9;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all .3s;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*===============================================
  NAV TABS
  ===============================================*/
.nav-pills > li > a {
  background-color: #eee;
  padding: 10px 20px 7px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-pills > li > a:hover {
  background-color: #E7E7E7;
}

.nav-pills > li + li {
  margin-left: 0;
}

.nav-pills > li:not(:first-child):not(:last-child) a {
  border-radius: 0;
}

.nav-pills > li:first-child > a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-pills > li:last-child > a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nav-center {
  text-align: center;
}

.nav-center ul.nav {
  display: inline-block;
}

.nav-center ul.nav li {
  display: inline;
}

.nav-center ul.nav li a {
  float: left;
}

.nav-pills > li > a {
  color: #C2C2C2;
}

/*
   Back to Top
   ----------- */
.back_to_top {
  display: none;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.back_to_top:hover {
  opacity: 0.5;
}

/*
   Gallery
   ----------- */
.gallery__image {
  border-radius: 3px;
  margin-bottom: 30px;
}

/*========= @import Components ==========*/
/*=========Prefix==========*/
.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-b-80 {
  margin-bottom: 80px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-t-80 {
  margin-top: 80px !important;
}

.m-v-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.m-v-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.m-t-100 {
  margin-top: 100px !important;
}

.m-b-100 {
  margin-bottom: 100px !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.display-block {
  display: block;
}

.no-bg-img {
  background-image: none !important;
}

.grey-bg {
  background-color: #F0F0F2 !important;
}

@media (min-width: 1600px) {
  .big-container {
    width: 1500px;
  }
}

@media (max-width: 992px) {
  .m-b-100-sm {
    margin-bottom: 100px !important;
  }
}

.h2 {
  margin: 20px 0 20px;
  font: 600 65px/1 "Poppins", sans-serif;
  letter-spacing: -3px;
  color: #374048;
}

.btn-md {
  padding: 0 33px;
  font: 500 21px/58px "Poppins", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-sm {
  padding: 0 30px;
  font: 500 18px/50px "Poppins", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*-----------------------*/
.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header:after {
  content: '';
  width: 82px;
  height: 6px;
  display: block;
  margin: 0 auto;
}

.section-header h2 {
  text-transform: uppercase;
  font: 600 48px/29px "Poppins", sans-serif;
  padding-top: 5px;
  margin: 0 0 25px;
}

@media (max-width: 767px) {
  .section-header h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.section-header p {
  max-width: 710px;
  margin: 0 auto 20px;
  font: 300 20px/32px "Poppins", sans-serif;
}

@media (max-width: 767px) {
  .section-header p {
    max-width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
}

.section-header.v3 {
  text-align: left;
  margin: 0 0 44px;
}

.section-header.v3:after {
  margin-left: 0;
}

@media (max-width: 767px) {
  .section-header.v3 p {
    margin-left: 0;
  }
}

.mfp-iframe-scaler .mfp-close {
  color: #000;
}

/*=========Header==========*/
.navbar {
  min-height: 55px;
  background: none;
  padding: 50px 0 24px;
  margin: 0;
  border: none;
  box-shadow: none;
  transition: all 300ms linear 0s;
}

.navbar .navbar-header {
  margin: 0;
  transition: all 300ms linear 0s;
}

.navbar .navbar-header .btn-warning {
  margin-top: 6.5px;
}

@media (max-width: 499px) {
  .navbar .navbar-header .btn-warning {
    float: none !important;
    margin-top: 65px;
  }
}

.navbar .navbar-header .navbar-toggle {
  width: 42px;
  height: 42px;
  margin: 0;
  border-radius: 0;
}

.navbar .navbar-header .navbar-toggle span {
  margin-left: auto;
  margin-right: auto;
}

.navbar .navbar-header .navbar-brand {
  margin-top: -10px;
  margin-left: 0px;
  padding: 0;
  transition: all 300ms linear 0s;
}

.navbar-brand img {
  width: 80px;
}

.navbar-brand.is-scrolling img {
  width: 50px;
}


@media (max-width: 991px) {
  .navbar .navbar-header .navbar-brand {
    margin-top: 20px;
  }

  .navbar-brand img {
    width: 50px;
  }
}

@media (max-width: 767px) {
  .navbar .navbar-header .navbar-brand {
    margin-top: -10px;
  }
}

.navbar .navbar-header .navbar-brand img {
  max-width: 100%;
  transition: all 300ms linear 0s;
}

.navbar.is-scrolling {
  padding: 20px 0;
}

.navbar.is-scrolling .navbar-header .navbar-brand {
  /*width: 150px;*/
  height: 40px;
}

.navbar.is-scrolling #main-navbar {
  padding-top: 0;
}

#main-navbar {
  padding-top: 8px;
  transition: all 300ms linear 0s;
}

#main-navbar .nav {
  padding-right: 8px;
  margin-right: 0;
}

#main-navbar .nav li a {
  padding: 0 17px;
  text-transform: uppercase;
  font: 500 16px/40px "Poppins", sans-serif;
}

.top-banner {
  padding-top: 150px;
}

@media (max-width: 767px) {
  .top-banner {
    padding-top: 130px;
  }
}

.top-banner h1 {
  margin: 0 0 20px;
  font: 600 70px/1 "Poppins", sans-serif;
  letter-spacing: -3px;
}

@media (max-width: 1199px) {
  .top-banner h1 {
    font-size: 64px;
  }
}

@media (max-width: 991px) {
  .top-banner h1 {
    font-size: 54px;
  }
}

@media (max-width: 991px) {
  .top-banner h1 {
    font-size: 35px;
  }
}

.top-banner p {
  /*max-width: 780px;*/
  margin: 0 auto 40px;
  text-align: left;
  font: 300 27px/41px "Poppins", sans-serif;
  letter-spacing: -0.2px;
}

@media (max-width: 1199px) {
  .top-banner p {
    font-size: 24px;
    line-height: 36px;
  }
}

@media (max-width: 991px) {
  .top-banner p {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .top-banner p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}

.top-banner .btn-primary img {
  margin: 0 15px;
}

@media (max-width: 991px) {
  .top-banner .btn-primary img {
    margin: 0 5px;
  }
}

.top-banner .codit-product {
  margin: 0 auto 61px;
}

@media (max-width: 991px) {
  .top-banner .codit-product {
    margin-bottom: 30px;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-top: none;
}

@media (max-width: 991px) {
  .navbar-default .navbar-collapse {
    background: #FFF;
    margin: 20px 0px;
    border-radius: 5px;
  }
  .alt-bg .navbar-default .navbar-collapse {
    background: rgba(0, 0, 0, 0.84);
  }
  .alt-bg .navbar-default.is-scrolling .navbar-collapse {
    background: #FFF;
  }
  .alt-bg .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #A7A7A7;
  }
  .alt-bg .dropdown-menu .divider {
    background-color: #313131;
  }
  .alt-bg .is-scrolling .dropdown-menu .divider {
    background-color: #e5e5e5;
  }
}

header.row {
  background-image: url(./images/codit_illustration.png), linear-gradient(-6deg, #fbddad 0%, #fbddad 83%, #FFF 83%, #FFF 100%);
  background-repeat:  no-repeat;
  background-position: right bottom, left bottom;
  background-size: 45% auto, cover;
  background-attachment: local, local;
}


@media (min-width: 1500px) {
  header.row {
    background-size: auto 90%, cover;
    background-position: right 10% bottom, left bottom;
  }
}


@media (max-width: 1199px) {
  header.row {
    background-size: 45% auto, cover;
  }
}

@media (max-width: 991px) {
  header.row {
    background-size: 40% auto, cover;
    background-position: right bottom -30px, left bottom;
  }
}

@media (max-width: 767px) {
  header.row {
    background-position: right 10% bottom -30px, left bottom;
  }
}

@media (max-width: 600px) {
  header.row {
    background-position: right 10% bottom, left bottom;
  }
}

@media (max-width: 450px) {
  header.row {
    background-position: right bottom 20px, left bottom;
  }
}

header.video-bg {
  background: #010102;
}

.split-header p {
  font-size: 24px;
  max-width: 660px;
  margin-left: 0;
  line-height: 37px;
}

@media (max-width: 992px) {
  .split-header p {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .split-header p {
    font-size: 20px;
    line-height: 28px;
  }
}

.top-banner .text-reverse h1 {
  color: #fff;
}

.top-banner .text-reverse p {
  color: rgba(255, 255, 255, 0.7);
}

.alt-bg .top-banner {
  background: rgba(0, 0, 0, 0.67);
  min-height: 800px;
}

.alt-bg .dark-logo {
  display: none;
}

.alt-bg .is-scrolling .dark-logo {
  display: block;
}

.alt-bg .is-scrolling .white-logo {
  display: none;
}

.top-banner .split-header {
  margin-top: 70px;
}

.top-banner .split-header h1 {
  /*color: #FFF;*/
}

.top-banner .split-header p {
  /*color: #FFF;*/
  /*color: rgba(255, 255, 255, 0.7);*/
}

@media (max-width: 992px) {
  .top-banner .split-header {
    margin-top: 0;
    margin-bottom: 100px;
    text-align: center;
  }

  .actions { max-width: 60% }
}

@media (max-width: 670px) {
  .top-banner .split-header {
    margin-bottom: 60px;
  }
}

.dropdown-menu {
  border: 1px solid #F1F1F1;
  box-shadow: 0 2px 42px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  padding: 15px 0;
}

#main-navbar .dropdown-menu li a {
  padding: 0 25px;
}

/* ------- Play Video ------- */
.play-video-block {
  margin: 80px 0 0;
  position: relative;
}

.play-video-block .video-thumb {
  border-radius: 5px;
}

.play-video-block .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.play-video-block a {
  display: block;
  position: relative;
  z-index: 3;
}

.play-video-block a:hover .play-btn {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.play-video-block a:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Magnific Popup */
.mfp-iframe-scaler iframe {
  box-shadow: none;
}

/************************
 * Nav Menu on Hover
 ***********************/
/*only for screens greater than 992px  */
@media (min-width: 992px) {
  .navbar .navbar-nav > li.dropdown > ul {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease;
  }
  .navbar .navbar-nav > li.dropdown:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

/* end nav on hover  */
/************************

/*=========The Product==========*/
.the-product {
  padding: 110px 0 160px;
}

@media (max-width: 767px) {
  .the-product {
    text-align: center;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .the-product img {
    max-width: 200px;
  }
}

.codit-product-note-feature {
  position: relative;
  display: flex;
}

.codit-product-note-feature .video-container {
  margin: 0 auto;
}

.codit-product-note-feature .video-container:not(.show-video) {
  cursor: pointer;
}

.codit-product-note-feature .video-container:before {
  content: "";
  display: block;
  padding-top: 75%;
  float: left;
}


.codit-product-note-feature .video-container .play-btn {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 50%;
  background: #999;
  box-shadow: 0.25rem 0.25rem 1rem rgba(48,55,66,.5);
  border-radius: 100%;
  transition: all 100ms ease-in-out;
  margin-left: -40px;
}

.codit-product-note-feature .video-container:hover .play-btn {
  background: #374048;
  transform: scale(1.1);
}

.codit-product-note-feature video {
  /* position: absolute;
  z-index: 2; */
}

.codit-product-note-feature .video-placeholder, .codit-product-note-feature video { width: 750px; }

@media (max-width: 767px) {
  .codit-product-note-feature .video-placeholder, .codit-product-note-feature video { width: 500px; }
}

.feature-note {
  display: inline-block;
  height: 115px;
  position: absolute;
  transition: all 300ms linear 0s;
  /*Content Show on Click*/
}

@media (max-width: 767px) {
  .feature-note {
    display: none;
  }
}

.feature-note .indicator {
  margin-top: 67px;
  width: 192px;
  transition: all 300ms linear 0s;
}

.feature-note .indicator .plus-icon {
  height: 49px;
  width: 49px;
  border-radius: 100%;
  padding: 8px;
  position: relative;
  transition: all 300ms linear 0s;
  transition-duration: 150ms;
}

.feature-note .indicator .plus-icon:before {
  content: '';
  width: 49px;
  height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid;
  border-radius: 100%;
  -webkit-animation: doublePulse 1.5s ease infinite;
          animation: doublePulse 1.5s ease infinite;
  z-index: 0;
}

.feature-note .indicator .plus-icon:after {
  content: '';
  height: 2px;
  display: block;
  margin-top: -17px;
  transition: all 300ms linear 0s;
  transition-duration: 150ms;
  width: 0;
}


.feature-note .indicator .plus-icon .plus {
  border-radius: 100px;
  width: 100%;
  display: block;
  line-height: 31px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all 300ms linear 0s;
}

.feature-note .feature-name {
  text-transform: uppercase;
  height: 91px;
  line-height: 20px;
  position: relative;
  letter-spacing: 0.2px;
}

.feature-note .feature-name:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: calc(50% - 4px);
  transition: all 300ms linear 0s;
}

.feature-note .feature-name:after {
  content: '';
  display: block;
  width: 2px;
  height: 58px;
  position: absolute;
  top: 33px;
  left: calc(50% - 1px);
  transition: all 300ms linear 0s;
}

.feature-note.right .indicator {
  float: left;
}

.feature-note.right .indicator .plus-icon {
  float: left;
}

.feature-note.right .indicator .plus-icon:after {
  float: left;
  margin-left: 30px;
}

.feature-note.right .indicator .plus-icon .plus {
  float: left;
}

.feature-note.right.top {
  top: 10px;
  right: 220px;
}

@media (max-width: 1199px) {
  .feature-note.right.top {
    right: 130px;
  }
}

@media (max-width: 991px) {
  .feature-note.right.top {
    right: 15px;
  }
}

.feature-note.right.top .feature-name {
  float: left;
  margin-left: -87px;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}

.feature-note.right.bottom {
  top: 390px;
  right: 150px;
}

@media (max-width: 1199px) {
  .feature-note.right.bottom {
    right: 50px;
  }
}

@media (max-width: 991px) {
  .feature-note.right.bottom {
    right: -20px;
  }
}

.feature-note.right.bottom .indicator {
  margin-top: 0;
  width: 100px;
}

.feature-note.show-cont.right.bottom .indicator .plus-icon::after { width: 94px!important; }

.feature-note.right.bottom .indicator .plus-icon:after {
  width: 0;
}

.feature-note.right.bottom .feature-name {
  float: left;
  margin-left: -12px;
  padding-top: 70px;
  margin-top: 22px;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

@media (max-width: 991px) {
  .feature-note.show-cont.right.bottom .indicator .plus-icon::after { width: 61px!important; }
  .feature-note.right.bottom .feature-name {
    margin-left: -45px;
  }
}

@media (max-width: 767px) {
  .feature-note.right.bottom .feature-name {
    margin-left: -50%;
    margin-top: 47px;
    height: 140px;
    padding-top: 120px;
  }
}

.feature-note.right.bottom .feature-name:before {
  top: 58px;
}

.feature-note.right.bottom .feature-name:after {
  top: 0;
}

@media (max-width: 767px) {
  .feature-note.right.bottom .feature-name:after {
    height: 110px;
  }
}

.feature-note.left .indicator {
  float: right;
}

.feature-note.left .indicator .plus-icon {
  float: right;
}

.feature-note.left .indicator .plus-icon:after {
  float: right;
  margin-right: 30px;
}

.feature-note.left .indicator .plus-icon .plus {
  float: right;
}

.feature-note.left.top {
  top: 115px;
  left: 205px;
}

@media (max-width: 1199px) {
  .feature-note.left.top {
    left: 105px;
  }
}

@media (max-width: 991px) {
  .feature-note.left.top {
    left: 0;
  }
}

@media (max-width: 767px) {
  .feature-note.left.top {
    left: -110px;
    top: 20px;
  }
}

.feature-note.left.top .feature-name {
  margin-right: -47px;
  float: right;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}

@media (max-width: 991px) {
  .feature-note.left.top .feature-name {
    margin-right: -47px;
  }
}

@media (max-width: 767px) {
  .feature-note.left.top .feature-name {
    margin-right: -50%;
  }
}

.feature-note.left.bottom {
  top: 395px;
  left: 20px;
  height: auto;
}

@media (max-width: 1199px) {
  .feature-note.left.bottom {
    left: -30px;
  }
}

@media (max-width: 991px) {
  .feature-note.left.bottom {
    left: 5px;
  }
}

.feature-note.left.bottom .indicator {
  margin-top: 0;
}

@media (max-width: 991px) {
  .feature-note.left.bottom .indicator {
    width: 100px;
  }
}

.feature-note.left.bottom .feature-name {
  margin-right: 10px;
  float: right;
  height: auto;
  padding-top: 14px;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}


.feature-note.left.bottom .feature-name:before {
  position: relative;
  display: inline-block;
  top: 0;
  left: calc(100% + 5px);
}

.feature-note.left.bottom .feature-name:after {
  display: none;
}

.feature-note.show-cont .indicator .plus-icon:after {
  width: 155px;
}

.feature-note.show-cont .feature-name {
  transition: -webkit-transform 150ms ease 150ms;
  transition: transform 150ms ease 150ms;
  transition: transform 150ms ease 150ms, -webkit-transform 150ms ease 150ms;
}

.feature-note.show-cont.right.top .feature-name {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.feature-note.show-cont.right.bottom .indicator .plus-icon:after {
  width: 237px;
}

@media (max-width: 991px) {
  .feature-note.show-cont.right.bottom .indicator .plus-icon:after {
    width: 150px;
  }
}

.feature-note.show-cont.right.bottom .feature-name {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.feature-note.show-cont.left.top .feature-name {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

@media (max-width: 991px) {
  .feature-note.show-cont.left.bottom .indicator .plus-icon:after {
    width: 64px;
  }
}

.feature-note.show-cont.left.bottom .feature-name {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

/*=========How it Works==========*/
.how-it-works {
  padding: 104px 0 95px;
}

.how-it-works .work-processes {
  padding-top: 35px;
}

.work-process {
  text-align: center;
}

.work-process + .work-process:before {
  content: '';
  width: 30px;
  height: 63px;
  float: left;
  margin-left: -30px;
  display: block;
  background: url(./images/right-angle.png) no-repeat scroll center 32px;
}

@media (max-width: 767px) {
  .work-process + .work-process:before {
    float: none;
    margin: 0 auto;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    background-position: center center;
  }
}

.work-process .process-icon {
  line-height: 106px;
}

.work-process h3 {
  font: 600 26px/1 "Poppins", sans-serif;
  margin: 60px 0 8px;
}

.work-process p {
  font: 300 16px/28px "Poppins", sans-serif;
}

/*=========How it Works==========*/
.the-benefits {
  padding: 117px 0;
}

@media (max-width: 340px) {
  .the-benefits {
    overflow: hidden;
  }
}

.benefit {
  margin-top: 60px;
}

.benefit:nth-child(1), .benefit:nth-child(2), .benefit:nth-child(3) {
  margin-top: 35px;
}

@media (max-width: 991px) {
  .benefit:nth-child(3) {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .benefit:nth-child(3) {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .benefit {
    min-height: auto;
    margin-top: 35px;
  }
}

.benefit .media .media-left {
  padding: 0;
  text-align: center;
}

.benefit .media .media-left span {
  display: block;
  width: 70px;
  font-size: 36px;
}

.benefit .media .media-body h4 {
  margin: 0 0 6px;
  font: 600 20px/1 "Poppins", sans-serif;
}

.benefit .media .media-body p {
  margin: 0;
  font: 300 14px/22px "Poppins", sans-serif;
}

/*========= Use cases ==========*/

.usecases {
  padding: 117px 0;
}
/*========= Pricing ==========*/
.plan-pricing {
  padding: 117px 0;
}

/*=========Left Right Content==========*/
.left-right-contents {
  padding: 111px 0 145px;
}

.left-right-contents img {
  max-width: 100%;
  display: inline-block;
}

@media (max-width: 991px) {
  .left-right-contents img {
    margin-top: 50%;
  }
}

@media (max-width: 767px) {
  .left-right-contents img {
    margin: 40px 0;
  }
}

.left-right-contents .media {
  margin-top: 78px;
}

@media (max-width: 1199px) {
  .left-right-contents .media {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .left-right-contents .media {
    margin-top: 40px;
  }
}

.left-right-contents .media + .media {
  margin-top: 65px;
}

@media (max-width: 1199px) {
  .left-right-contents .media + .media {
    margin-top: 40px;
  }
}

.left-right-contents .media .media-left {
  padding: 0;
  text-align: center;
}

.left-right-contents .media .media-left span {
  display: block;
  width: 70px;
  font-size: 32px;
}

.left-right-contents .media .media-body h4 {
  margin: 0 0 6px;
  font: 600 20px/1 "Poppins", sans-serif;
}

.left-right-contents .media .media-body p {
  margin: 0;
  font: 300 14px/22px "Poppins", sans-serif;
}

/*=========Our Collection==========*/
.our-collection {
  padding: 140px 0 88px;
}

.collections {
  padding-top: 15px;
}

.collections .item {
  padding: 15px;
  text-align: center;
}

.collections .item .featured-img {
  margin-bottom: 30px;
}

.collections .item .featured-img img {
  max-width: 100%;
}

.collections .item .title {
  font: 500 16px/1 "Poppins", sans-serif;
  margin: 0;
}

.collections .item .category {
  margin: 5px 0 0;
  font: 300 13px/1 "Poppins", sans-serif;
}

.collections .item .price {
  font: 600 19px/1 "Poppins", sans-serif;
  margin: 14px 0 20px;
}

/*=========Applications==========*/

.applications {
  padding: 117px 0;
}

/*=========The Watch==========*/
.the-watch {
  padding: 102px 0 94px;
}

.the-watch .the-watch-img {
  float: right;
}

@media (max-width: 991px) {
  .the-watch .the-watch-img {
    float: left;
    width: 100%;
  }
}

.the-watch img {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .the-watch img {
    max-width: 200px;
  }
}

.the-watch-features {
  padding-top: 63px;
}

@media (max-width: 991px) {
  .the-watch-features {
    float: left;
  }
}

@media (max-width: 767px) {
  .the-watch-features {
    padding-bottom: 50px;
  }
}

.the-watch-features ul li {
  font: 300 20px/32px "Poppins", sans-serif;
}

@media (max-width: 767px) {
  .the-watch-features ul li {
    font-size: 16px;
  }
}

.the-watch-features ul li + li {
  margin-top: 22px;
}

.the-watch-features ul li:before {
  width: 32px;
  height: 32px;
  margin-right: 17px;
  content: '';
  background: url(./images/check.png) no-repeat scroll 0 0;
  float: left;
}

/*=========Split Columns==========*/
.split-columns {
  overflow-x: hidden;
}

.split-column {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .split-column {
    display: block;
  }
}

.split-column .image {
  padding: 0;
}

.split-column .image img {
  width: 100%;
}

.split-column .texts {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.split-column .texts h2 {
  margin: 42px 0 25px;
  font-weight: bold;
}

@media (max-width: 1199px) {
  .split-column .texts h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
  }
}

.split-column .texts p {
  margin: 0;
  font: 300 18px/32px "Poppins", sans-serif;
}

@media (max-width: 991px) {
  .split-column .texts p {
    font-size: 14px;
    line-height: 26px;
  }
}

.split-column .texts .texts-inner {
  padding-left: 37px;
  width: 540px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .split-column .texts .texts-inner {
    padding-left: 15px;
  }
}

@media (max-width: 767px) {
  .split-column .texts .texts-inner {
    padding: 30px 0;
  }
}

.split-column:nth-child(even) .texts .texts-inner {
  padding-left: 0;
  padding-right: 37px;
  float: right;
}

@media (max-width: 991px) {
  .split-column:nth-child(even) .texts .texts-inner {
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .split-column:nth-child(even) .texts .texts-inner {
    float: left;
  }
}

/*=========Reviews==========*/
.reviews {
  padding: 112px 0 50px;
}

.review {
  padding: 13px 15px 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .review + .review {
    margin-top: 30px;
  }
}

.review .review-sign {
  margin-bottom: 20px;
}

.review p {
  margin-bottom: 20px;
  font: italic 300 17px/29px "Poppins", sans-serif;
}

.review div {
  margin-bottom: 20px;
  font: 300 14px/20px "Poppins", sans-serif;
}

.review .reviewer {
  border-radius: 50%;
  width: 250px;
}

.featured-on {
  text-align: center;
  padding: 70px 0 90px;
}

.featured-on h3 {
  font: 500 22px/1 "Poppins", sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.featured-on ul li {
  padding-top: 20px;
  line-height: 47px;
}

@media (max-width: 991px) {
  .featured-on ul li {
    float: left;
    display: block;
    width: calc(100% / 3);
    text-align: center;
  }
}

@media (max-width: 767px) {
  .featured-on ul li {
    width: 100%;
    line-height: 1;
    padding: 15px 0;
  }
}

.featured-on ul li img {
  opacity: 0.33;
  max-width: 100%;
}

/*=========FAQ==========*/
.faqs {
  padding: 98px 0 78px;
}

.faq {
  margin-top: 68px;
}

.faq:nth-child(1), .faq:nth-child(2) {
  margin-top: 35px;
}

.faq h4 {
  font: 500 20px/1 "Poppins", sans-serif;
  margin: 0 0 8px;
}

.faq p {
  font: 300 15px/25px "Poppins", sans-serif;
  margin: 0;
}

.faq-one-col {
  text-align: center;
}

.faq-one-col h4 {
  font-size: 25px;
  margin-bottom: 20px;
}

/*=========Tech Specs==========*/
.tech-specs {
  padding: 78px 0 85px;
}

.tech-specs-row:first-child {
  padding-top: 13px;
}

.tech-specs-row .tech-spec {
  padding: 35px 15px;
  border-top: 1px solid;
  min-height: 250px;
}

@media (max-width: 991px) {
  .tech-specs-row .tech-spec {
    min-height: auto;
  }
}

.tech-specs-row h4 {
  font: 20px/1 "Poppins", sans-serif;
  margin: 0 0 8px;
}

.tech-specs-row ul {
  display: inline-block;
}

.tech-specs-row ul li {
  font: 300 15px/25px "Poppins", sans-serif;
}

/*=========Team==========*/
.team {
  padding: 93px 0 80px;
}

.team .team_members {
  padding-top: 5px;
}

.member {
  padding: 15px;
  text-align: center;
}

.member .inner {
  max-width: 263px;
  margin: 0 auto;
}

.member .inner .image img {
  max-width: 100%;
}

.member .inner .texts {
  padding: 24px 0 20px;
}

.member .inner .texts h4 {
  margin: 0 0 10px;
  font: 500 20px/1 "Poppins", sans-serif;
}

.member .inner .texts h5 {
  margin: 0;
  font: 300 14px/1 "Poppins", sans-serif;
}

/*=========Timeline==========*/
.timeline {
  padding: 85px 0;
}

.timeline .section-header {
  margin-bottom: 58px;
}

.timeline-row {
  position: relative;
}

.timeline-row:before {
  content: '';
  width: 8px;
  height: 100%;
  display: block;
  position: absolute;
  left: calc(50% - 4px);
  z-index: 0;
}

@media (max-width: 767px) {
  .timeline-row:before {
    left: 15px;
    border-radius: 5px;
  }
}

@media (max-width: 767px) {
  .timeline-post {
    padding: 0 15px;
  }
}

.timeline-post .bar-content {
  text-align: center;
}

@media (max-width: 767px) {
  .timeline-post .bar-content {
    text-align: left;
    padding-left: 30px;
  }
}

.timeline-post .bar-content .inner {
  padding: 0 30px;
  font: 500 15px/35px "Poppins", sans-serif;
  min-width: 96px;
  border-radius: 4px;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.timeline-post .half-side {
  text-align: right;
}

@media (max-width: 767px) {
  .timeline-post .half-side {
    text-align: left;
    width: 100%;
  }
}

.timeline-post .half-side.date {
  padding-right: 35px;
  font: 500 15px/55px "Poppins", sans-serif;
  text-transform: uppercase;
}

.timeline-post .half-side.content {
  padding-left: 40px;
}

@media (max-width: 767px) {
  .timeline-post .half-side.content {
    padding-left: 15px;
  }
}

.timeline-post .half-side.content .inner {
  border-radius: 5px;
  display: inline-block;
  padding: 20px 25px;
}

@media (max-width: 767px) {
  .timeline-post .half-side.content .inner {
    padding: 10px 12px;
  }
}

.timeline-post .half-side.content .inner h4 {
  margin: 0;
  font: 500 18px/15px "Poppins", sans-serif;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .timeline-post .half-side.content .inner h4 {
    font-size: 16px;
    white-space: normal;
    line-height: 22px;
  }
}

.timeline-post .half-side.content .inner p {
  font: 300 14px/24px "Poppins", sans-serif;
  margin: 10px 0 0;
  width: 240px;
}

@media (max-width: 767px) {
  .timeline-post .half-side.content .inner p {
    width: auto;
  }
}

.timeline-post .half-side + .half-side {
  position: relative;
  text-align: left;
}

.timeline-post .half-side + .half-side:before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  border: 6px solid;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: -12px;
}

@media (max-width: 767px) {
  .timeline-post .half-side + .half-side:before {
    top: -40px;
    left: -24px;
  }
}

.timeline-post + .timeline-post {
  margin-top: 49px;
}

@media (max-width: 767px) {
  .timeline-post.has-content {
    padding-left: 30px;
  }
}

.timeline-post.has-content.odd .half-side {
  float: right;
  text-align: left;
}

@media (max-width: 767px) {
  .timeline-post.has-content.odd .half-side {
    float: left;
  }
}

.timeline-post.has-content.odd .half-side.date {
  padding-left: 35px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .timeline-post.has-content.odd .half-side.date {
    padding-left: 15px;
  }
}

.timeline-post.has-content.odd .half-side.content {
  padding-left: 15px;
  padding-right: 45px;
}

@media (max-width: 767px) {
  .timeline-post.has-content.odd .half-side.content {
    padding-right: 15px;
  }
}

.timeline-post.has-content.odd .half-side.content .inner {
  padding: 20px;
}

@media (max-width: 767px) {
  .timeline-post.has-content.odd .half-side.content .inner {
    padding: 10px 12px;
    text-align: left;
  }
}

.timeline-post.has-content.odd .half-side:before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  border: 6px solid;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: -12px;
}

@media (max-width: 767px) {
  .timeline-post.has-content.odd .half-side:before {
    display: none;
  }
}

.timeline-post.has-content.odd .half-side + .half-side {
  text-align: right;
}

@media (max-width: 767px) {
  .timeline-post.has-content.odd .half-side + .half-side {
    text-align: left;
  }
}

.timeline-post.has-content.odd .half-side + .half-side:before {
  display: none;
}

@media (max-width: 767px) {
  .timeline-post.has-content.odd .half-side + .half-side:before {
    display: block;
    top: -40px;
    left: -24px;
  }
}

/*=========Newsletter==========*/
.newsletter {
  padding: 96px 0 90px;
}

.newsletter .section-header {
  margin-bottom: 70px;
}

.newsletter-form {
  margin: 0 auto;
  max-width: 750px;
}

@media (max-width: 479px) {
  .newsletter-form .input-group {
    display: block;
    height: 160px;
  }
}

.newsletter-form .form-control {
  font-size: 19px;
  height: 80px;
  line-height: 80px;
  padding: 0 38px;
}

@media (max-width: 479px) {
  .newsletter-form .form-control {
    display: block;
    width: 100%;
  }
}

.newsletter-form .form-control::-moz-placeholder {
  line-height: 80px;
}

.newsletter-form .form-control:-ms-input-placeholder {
  line-height: 80px;
}

.newsletter-form .form-control::-webkit-input-placeholder {
  line-height: 80px;
}

.newsletter-form textarea.form-control::-moz-placeholder {
  line-height: 40px;
}

.newsletter-form textarea.form-control:-ms-input-placeholder {
  line-height: 40px;
}

.newsletter-form textarea.form-control::-webkit-input-placeholder {
  line-height: 40px;
}

.newsletter-form textarea.form-control {
  padding-top: 20px;
  height: 120px;
  line-height: 35px;
}

.newsletter-form .input-group-addon {
  padding: 0;
}

.newsletter-form .accept {
  font: 300 17px/24px "Poppins", sans-serif!important;
  color: #c0cad0!important;
}

/* Customize the label (the container) */
.newsletter-form .accept {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.newsletter-form .accept input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.newsletter-form .accept .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #e0e8ee;
}

/* On mouse-over, add a grey background color */
.newsletter-form .accept input:focus ~ .checkmark {
  /*background-color: #ccc;*/
  box-shadow: 0.2rem 0.2rem 0.65rem rgba(48,55,66,.4);
}

/* On mouse-over, add a grey background color */
.newsletter-form .accept:hover input ~ .checkmark {
  background-color: #ccc;
  border: none;
}

/* When the checkbox is checked, add a blue background */
.newsletter-form .accept input:checked ~ .checkmark {
  background-color: #0e5d88;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.newsletter-form .accept .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.newsletter-form .accept input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.newsletter-form .accept .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}


@media (max-width: 479px) {
  .newsletter-form .input-group-addon {
    display: block;
    width: 100%;
    white-space: normal;
    float: left;
    margin-top: -1px;
  }
}

.newsletter-form .input-group-addon button {
  width: 130px;
  line-height: 78px;
  padding: 0;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 479px) {
  .newsletter-form .input-group-addon button {
    width: 100%;
    border-radius: 0;
  }
}

.newsletter-form p {
  font: 300 14px/16px "Poppins", sans-serif;
  text-align: center;
  margin: 22px 0 0;
}

.newsletter-form p img {
  margin-right: 8px;
}

/*=========Contact==========*/
#mapBox {
  height: 400px;
  /*background: #fbddad;*/
  background: url(./images/bg_contact.jpg);
  background-size: cover;
}

@media (max-width: 767px) {
  #mapBox {
    display: none;
  }
}

.contact {
  position: relative;
}

.flip-box-container {
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: all 300ms linear 0s;
  z-index: 9;
  width: 555px;
  min-height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotateY(0);
          transform: translateX(-50%) translateY(-50%) rotateY(0);
}

@media (max-width: 767px) {
  .flip-box-container {
    position: static;
    width: 100%;
    margin-bottom: 40px;
    -webkit-transform: none;
            transform: none;
  }
}

.flip-box-container .contact-box {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
}

.flip-box-container .contact-form {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flip-box-container .flip-box {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 73px rgba(0, 0, 0, 0.17);
}

@media (max-width: 767px) {
  .flip-box-container .flip-box {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.17);
  }
}

.flip-box-container.show-form .contact-box {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-box-container.show-form .contact-form {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.flip-box-part {
  padding: 38px 40px 34px;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.contact-box h2 {
  margin: 0;
  font: 600 27px/1 "Poppins", sans-serif;
  text-transform: uppercase;
}

.contact-box ul {
  margin: 25px 0 30px;
}

.contact-box ul li {
  padding-left: 30px;
  font: 300 16px/2 "Poppins", sans-serif;
}

.contact-box ul li + li {
  margin-top: 10px;
}

.contact-box ul li i {
  width: 30px;
  float: left;
  margin-left: -30px;
  line-height: 32px;
}

.contact-form textarea.form-control {
  height: 108px;
}

.contact-form .js-close-flip {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  font-size: 23px;
  text-decoration: none;
  color: #c0cad0;
}

/*=========Footer==========*/
footer.row {
  text-align: center;
}

.menu-rights {
  padding: 35px 0;
}

.menu-rights p {
  font: 300 15px/1 "Poppins", sans-serif;
  margin: 0;
}

@media (min-width: 480px) {
  .small-divide {
    display: none;
  }
}

.footer-menu {
  display: table;
  margin: 0 auto 19px;
}

.footer-menu li {
  font: 300 15px/1 "Poppins", sans-serif;
  float: left;
}

@media (max-width: 479px) {
  .footer-menu li {
    display: table;
    float: none;
    margin: 0 auto;
  }
}

@media (max-width: 479px) {
  .footer-menu li + li {
    margin-top: 5px;
  }
}

.footer-menu li + li:before {
  content: '\2022';
  float: left;
  padding: 0 13px;
  line-height: 15px;
  display: block;
}

@media (max-width: 600px) {
  .footer-menu li + li:before {
    padding: 0 5px;
  }
}

@media (max-width: 479px) {
  .footer-menu li + li:before {
    display: none;
  }
}

.footer-menu li a {
  padding: 0;
  float: left;
}

.social-links {
  padding: 43px 0 36px;
  border-bottom: 1px solid;
}

.social-links ul {
  display: table;
  margin: 0 auto;
}

.social-links ul li {
  float: left;
}

.social-links ul li + li {
  margin-left: 15px;
}

@media (max-width: 499px) {
  .social-links ul li + li {
    margin-left: 10px;
  }
}

.social-links ul li a {
  width: 48px;
  height: 48px;
  font-size: 22px;
  line-height: 52px;
  border-radius: 100%;
  padding: 0;
}

@media (max-width: 360px) {
  .social-links ul li a {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
  }
}

.social-links ul li a i {
  margin-left: 2px;
}

/*=========Page Header==========*/
.page-header {
  text-align: center;
  padding: 150px 0 50px;
}

.page-header h2 {
  margin: 0 0 15px;
  font: 600 48px/1 "Poppins", sans-serif;
}

.page-header h4 {
  margin: 0;
  font: 300 20px/1 "Poppins", sans-serif;
}

/*=========Blog Section==========*/
.blog-section {
  padding: 75px 0 113px;
}

.blog {
  margin: 0 0 65px;
}

.blog .featured-img {
  margin-bottom: 30px;
}

.blog .featured-img a {
  text-align: center;
  display: block;
}

.blog .featured-img img {
  max-width: 100%;
}

.blog h2 {
  margin: 0 0 13px;
  font: 600 30px/1 "Poppins", sans-serif;
  letter-spacing: -0.4px;
}

@media (max-width: 767px) {
  .blog h2 {
    line-height: 1.2;
  }
}

.blog h5 {
  margin: 0 0 20px;
  font: 300 14px/1 "Poppins", sans-serif;
}

@media (max-width: 767px) {
  .blog h5 {
    line-height: 1.8;
  }
}

.blog h5 a {
  text-decoration: underline;
}

.blog p {
  font: 300 17px/28px "Poppins", sans-serif;
  margin-bottom: 15px;
}

.blog .btn-primary {
  font: 500 14px/40px "Poppins", sans-serif;
}

.blog .media .media-left {
  padding-right: 30px;
}

@media (max-width: 499px) {
  .blog .media .media-left {
    display: block;
    padding-bottom: 30px;
    padding-right: 0;
  }
}

.post-activity {
  border-right: 1px solid;
}

@media (max-width: 499px) {
  .post-activity {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-right: 0;
    width: 100%;
    height: 73px;
  }
}

.post-activity .activity {
  text-align: center;
  width: 68px;
  height: 73px;
}

@media (max-width: 499px) {
  .post-activity .activity {
    float: left;
    width: calc(100% / 3);
  }
}

.post-activity .activity + .activity {
  border-top: 1px solid;
}

@media (max-width: 499px) {
  .post-activity .activity + .activity {
    border-left: 1px solid;
    border-top: 0;
  }
}

.post-activity .activity a {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  font: 500 16px/1.5 "Poppins", sans-serif;
}

.post-activity .activity a i {
  display: block;
}

.post-activity .activity a:hover, .post-activity .activity a:focus {
  text-decoration: none;
}

.single-blog {
  margin-bottom: 45px;
}

.social-share {
  display: table;
  margin: 0 auto 53px;
}

.social-share a {
  float: left;
}

@media (max-width: 499px) {
  .social-share a {
    float: none;
    display: block;
  }
}

.social-share a + a {
  margin-left: 30px;
}

@media (max-width: 499px) {
  .social-share a + a {
    margin-left: 0;
    margin-top: 20px;
  }
}

.author-about {
  padding: 28px 37px 24px;
}

@media (max-width: 499px) {
  .author-about {
    padding: 20px;
    text-align: center;
  }
}

.author-about .media-left {
  padding-right: 28px;
}

@media (max-width: 499px) {
  .author-about .media-left {
    padding-right: 0;
    padding-bottom: 28px;
    display: block;
  }
}

.author-about .media-left a {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}

.author-about .media-left a img {
  border-radius: 100%;
  width: 100%;
}

@media (max-width: 499px) {
  .author-about .media-body {
    text-align: center;
  }
}

.author-about .media-body h3 {
  margin-top: 0;
}

.author-about .media-body h3 a {
  font: 600 21px/1 "Poppins", sans-serif;
}

.author-about .media-body p {
  font: 300 15px/28px "Poppins", sans-serif;
  margin-bottom: 15px;
}

@media (max-width: 499px) {
  .author-about .media-body ul {
    display: table;
    margin: 0 auto;
  }
}

.author-about .media-body ul li {
  float: left;
  text-align: center;
}

.author-about .media-body ul li + li {
  margin-left: 10px;
}

.author-about .media-body ul li a {
  width: 31px;
  height: 31px;
  border-radius: 100%;
  line-height: 31px;
  padding: 0;
  font-size: 15px;
}

.pagination {
  margin: 13px auto 0;
  display: table;
}

.pagination li {
  float: left;
}

.pagination li + li {
  margin-left: 15px;
}

.pagination li a {
  padding: 0;
  height: 51px;
  width: 51px;
  text-align: center;
  font: 600 22px/51px "Poppins", sans-serif;
  border-radius: 100%;
  border: none;
}

.pagination li:first-child a, .pagination li:last-child a {
  border-radius: 100%;
}

/*========= Sidebar ==========*/
@media (max-width: 991px) {
  .sidebar {
    margin-top: 60px;
  }
}

.widget + .widget {
  margin-top: 50px;
}

.widget-title {
  margin: 0 0 20px;
  font: 600 17px/1 "Poppins", sans-serif;
  text-transform: uppercase;
}

.widget-search form .form-control {
  border-right: 0;
  box-shadow: none;
}

.widget-search form .form-control + .input-group-addon {
  border-radius: 0;
  padding: 0;
}

.widget-search form .form-control + .input-group-addon button {
  border: none;
  padding: 0 17px;
}

.recent-post .media-left {
  padding-right: 23px;
}

.recent-post .media-left a {
  display: block;
}

.recent-post .media-body h4 {
  margin: 0 0 10px;
}

.recent-post .media-body h4 a {
  font: 300 17px/27px "Poppins", sans-serif;
}

.recent-post .media-body h5 {
  margin: 0;
}

.recent-post .media-body h5 a {
  font: 300 14px/1 "Poppins", sans-serif;
  text-decoration: underline;
}

.recent-post + .recent-post {
  margin-top: 42px;
}

.categories li:before {
  content: '';
  width: 30px;
  height: 40px;
  background: url(./images/right-angle2.png) no-repeat scroll 5px center;
  float: left;
}

.categories li a {
  font: 300 17px/40px "Poppins", sans-serif;
  padding: 0;
  display: inline-block;
}

.tag {
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
  text-transform: uppercase;
  font: 600 13px/38px "Poppins", sans-serif;
  border: 1px solid;
  padding: 0 14px;
}

/*========= Comments ==========*/
.comment-count {
  margin: 60px 0 30px;
  font: 600 35px/1 "Poppins", sans-serif;
  text-align: center;
}

.comment {
  margin-left: 30px;
  padding: 23px 23px 23px 65px;
  border-radius: 3px;
  border: 1px solid;
  position: relative;
}

@media (max-width: 499px) {
  .comment {
    padding: 60px 20px 20px 20px;
    margin-left: 0;
    margin-top: 76px;
  }
}

.comment.reply {
  margin-left: 65px;
}

@media (max-width: 499px) {
  .comment.reply {
    margin-left: 30px;
  }
}

.comment + .comment {
  margin-top: 37px;
}

@media (max-width: 499px) {
  .comment + .comment {
    margin-top: 76px;
  }
}

.comment p {
  margin-bottom: 15px;
  font: 300 15px/28px "Poppins", sans-serif;
}

.commenter-link {
  position: absolute;
  top: 13px;
  left: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 499px) {
  .commenter-link {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

.commenter-name {
  margin: 0 0 15px;
  font: 600 21px/1 "Poppins", sans-serif;
}

.commenter-name a {
  display: inline-block;
}

.commenter-name small {
  font-weight: 300;
}

@media (max-width: 499px) {
  .commenter-name small {
    float: none !important;
    display: block;
    margin-top: 5px;
  }
}

.add-comment h2 {
  margin: 50px 0 5px;
  font: 600 35px/1 "Poppins", sans-serif;
}

.add-comment p {
  margin-bottom: 30px;
  font: 300 19px/1 "Poppins", sans-serif;
}

.add-comment form textarea.form-control {
  height: 154px;
}

/*  Button */
.js-preorder-btn {
  position: relative;
}

.btn.is-success {
  background: #34BF4D;
}

.btn.is-failed {
  background: #E0401A;
}

.js-preorder-btn:not(.disabled):before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border: 4px solid;
  border-left-color: transparent;
  border-radius: 50%;
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: opacity;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.js-preorder-btn:not(.disabled):after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0px;
  transition-delay: 0.5s;
  transition-duration: 0.75s;
  transition-property: width;
}

.js-preorder-btn:not(.disabled) span {
  transition: opacity 1s ease-in-out;
}

.js-preorder-btn:not(.disabled).sending {
  pointer-events: none;
  cursor: not-allowed;
}

.js-preorder-btn:not(.disabled).sending span {
  opacity: 0;
}

.js-preorder-btn:not(.disabled).sending:before {
  transition-delay: 0.5s;
  transition-duration: 1s;
  opacity: 1;
}

.js-preorder-btn:not(.disabled).sending:after {
  transition-delay: 0s;
}

/*========= Pricing ==========*/
.pricing {
  border: solid 1px;
  border-radius: 5px;
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 30px;
}

.pricing__title {
  margin-bottom: 20px;
}

.pricing__price {
  margin: 30px 0 20px;
  font-size: 30px;
  font-weight: bold;
}

.pricing__content ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 20px;
}

.pricing--featured {
  border: 0;
}

/*# sourceMappingURL=style.css.map */


/*============= Helptip =========*/


.helptip {
  position: relative;
}

.helptip .anchor {
  z-index: 10;
  cursor: help;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.helptip .anchor:before {
  content: '';
  cursor: help;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.helptip .content:before{ /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#BBB;
  left:40px;
  top:-12px;
}

.helptip .content {
  display: none;
  position: absolute;
  top: 35px;
  text-align: left;
  background-color: #FFF;
  padding: 20px;
  min-width: 300px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #BBB;
  color: #1E2021;
  font-size: 13px;
  line-height: 1.4;
  text-shadow: none;
  z-index: 9;
}

.helptip .content:after{
  width:100%;
  height:50px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

.helptip:hover .content{
  display:block;
  transform-origin: 100% 0%;
  animation: fadeIn 0.3s ease-in-out;
}
