.slide-left-enter-active {
  transition: all .3s ease-out;
}
.slide-left-leave-active {
  transition: all .3s ease-in;
}
.slide-left-enter {
  transform: translate3d(110%, 0, 0);
}
.slide-left-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translate3d(-110%, 0, 0);
}

.slide-left-outonly-enter-active {
  transition: none;
}
.slide-left-outonly-leave-active {
  transition: all .3s ease-in;
}
.slide-left-outonly-enter {
  transform: none;
}
.slide-left-outonly-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(-100%);
}

.slide-left-inonly-enter-active {
  transition: all .3s ease-out;
}
.slide-left-inonly-leave-active {
  transition: none;
}
.slide-left-inonly-enter {
  transform: translateX(100%);
}
.slide-left-inonly-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
