$col-soft-red: rgba(255, 99, 132, 0.2);
$col-soft-yellow: rgba(255, 206, 86, 0.2);
$col-soft-green: rgba(75, 192, 192, 0.2);
$col-soft-blue: rgba(54, 162, 235, 0.2);
$col-soft-purple: rgba(153, 102, 255, 0.2);
$col-soft-orange: rgba(255, 159, 64, 0.2);
$col-soft-brown: rgba(121, 85, 72, 0.2);

$col-medium-red: rgba(255, 99, 132, 0.6);
$col-medium-yellow: rgba(255, 206, 86, 0.6);
$col-medium-green: rgba(75, 192, 192, 0.6);
$col-medium-blue: rgba(54, 162, 235, 0.6);
$col-medium-purple: rgba(153, 102, 255, 0.6);
$col-medium-orange: rgba(255, 159, 64, 0.6);
$col-medium-brown: rgba(121, 85, 72, 0.6);

$col-strong-red: rgba(255,99,132, 1);
$col-strong-yellow: rgba(255, 206, 86, 1);
$col-strong-green: rgba(75, 192, 192, 1);
$col-strong-blue: rgba(54, 162, 235, 1);
$col-strong-purple: rgba(153, 102, 255, 1);
$col-strong-orange: rgba(255, 159, 64, 1);
$col-strong-brown: rgba(121, 85, 72, 1);

$col-highlight-0: $col-soft-red;
$col-highlight-1: $col-soft-yellow;
$col-highlight-2: $col-soft-green;
$col-highlight-3: $col-soft-blue;
$col-highlight-4: $col-soft-purple;
$col-highlight-5: $col-soft-orange;
$col-highlight-6: $col-soft-brown;
$col-highlight-7: $col-soft-red;
$col-highlight-8: $col-soft-yellow;
$col-highlight-9: $col-soft-green;

$col-ans-bg: #EEEEEE;
$col-ans-txt: #9E9E9E;
$col-ans-border: #FAFAFA;
$col-ans-focus-bg: #FFECB3;
$col-ans-focus-txt: #212121;
$col-ans-focus-border: #FFC107;
$col-ans-focused-id-txt: #9E9E9E;
$col-ans-select: #FFECB3;
