@import '~css/colors';

:export {
  colSoftRed: $col-soft-red;
  colSoftYellow: $col-soft-yellow;
  colSoftGreen: $col-soft-green;
  colSoftBlue: $col-soft-blue;
  colSoftPurple: $col-soft-purple;
  colSoftOrange: $col-soft-orange;
  colSoftBrown: $col-soft-brown;

  colMediumRed: $col-medium-red;
  colMediumYellow: $col-medium-yellow;
  colMediumGreen: $col-medium-green;
  colMediumBlue: $col-medium-blue;
  colMediumPurple: $col-medium-purple;
  colMediumOrange: $col-medium-orange;
  colMediumBrown: $col-medium-brown;

  colStrongRed: $col-strong-red;
  colStrongYellow: $col-strong-yellow;
  colStrongGreen: $col-strong-green;
  colStrongBlue: $col-strong-blue;
  colStrongPurple: $col-strong-purple;
  colStrongOrange: $col-strong-orange;
  colStrongBrown: $col-strong-brown;
}
